@import "https://fonts.googleapis.com/css2?family=Varela+Round&display=swap";
* {
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
#app {
  min-height: 100vh;
  .hm-100 {
    min-height: 100vh;
  }
}
a {
  text-decoration: none;
}

input {
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
